body {
    margin-bottom: 5rem;
}
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.navbar {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
}
